node_modules
.pnpm-store
.nuxt
.output
.nitro
dist
build
.vite
coverage
tests

.env
.env.*
!.env*.example

*.log
*.tmp
*.dump
*.bak
tmp

.git
.github
.gitignore
.gitattributes
.vscode/
.idea/
.DS_Store
Thumbs.db