/* Self-hosted Public Sans via @fontsource/public-sans */

@import "@fontsource/public-sans/300.css";
@import "@fontsource/public-sans/400.css";
@import "@fontsource/public-sans/500.css";
@import "@fontsource/public-sans/600.css";
@import "@fontsource/public-sans/700.css";

@import "@fontsource/public-sans/300-italic.css";
@import "@fontsource/public-sans/400-italic.css";
@import "@fontsource/public-sans/500-italic.css";
@import "@fontsource/public-sans/600-italic.css";
@import "@fontsource/public-sans/700-italic.css";
