// Write your overrides
.layout-navbar {
    block-size: 75px !important;
}

.layout-horizontal-nav {
    padding-block: 0.7rem !important;
}

.layout-footer .footer-content-container {
    block-size: 70px !important;
}

.apexcharts-legend-text {
    padding-left: 15px;
    margin-left: -15px;
    color: unset !important;
}

.apexcharts-legend-series {
    border: 1px solid rgba(var(--v-theme-on-surface), 0.12);
    border-radius: 0.375rem;
    block-size: 83%;
    padding-block: 4px;
    padding-inline: 16px 12px;
}

.v-dialog-close-btn {
    position: fixed !important;
}