// assets/styles/styles.scss

// Import layout overrides and fixes
@import './layout-override.scss';
@import './layout-comprehensive-fix.scss';

/*
  [STYLING SCROLLBAR BAWAAN BROWSER]
  Kode ini berfungsi di browser modern seperti Chrome, Edge, Safari, dan Firefox.
*/

// Untuk Firefox
:root {
  scrollbar-color: rgba(var(--v-theme-on-surface), 0.3) rgba(var(--v-theme-surface), 0.9);
  scrollbar-width: thin;
}

// Untuk Chrome, Edge, Safari
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--v-theme-on-surface), 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--v-theme-on-surface), 0.5);
}


.layout-navbar {
    block-size: 75px !important;
}

.layout-horizontal-nav {
    padding-block: 0.7rem !important;
}

.layout-footer .footer-content-container {
    block-size: 70px !important;
}

.apexcharts-legend-text {
    padding-left: 15px;
    margin-left: -15px;
    color: unset !important;
}

.apexcharts-legend-series {
    border: 1px solid rgba(var(--v-theme-on-surface), 0.12);
    border-radius: 0.375rem;
    block-size: 83%;
    padding-block: 4px;
    padding-inline: 16px 12px;
}

.v-dialog-close-btn {
    position: fixed !important;
}